*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.formulario-de-notas{
    background: rgb(8, 145, 8);
    gap: 5px;
    padding: 20px;
    margin:20px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}